mixin forgotForm()
	form.form(action="/account/forgot" method="POST")
		h2 I forgot my password!
		label(for="email") Email Address
		input(type="text", name="email")
		hr
		input.button(type="submit" value="Send A Reset ➙")